{% extends 'main/base.html' %}

{% block title%}
{{ title }}
{% endblock %}
{% block head %}
<div class="container">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 d-md-block bg-light sidebar collapse">
        <div class="position-sticky p-3">
            <p class="">Shops:</p>
          <ul class="nav flex-column" id="shops">
            
          </ul>
          
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto px-md-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="goods">
  
            </div>
        </div>
      </main>
  
    </div>
  </div>
{% endblock %}