{% extends 'main/base.html' %}
{% load main_tags %}
{%  load static %}

{% block script %} 
<script src="{% static 'main/js/shop.js' %}"></script>
{% endblock %}

{% block head %}
<div class="container">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 d-md-block bg-secondary sidebar collapse">
        <div class="position-sticky p-3">
            <p class="text-white">Shops:</p>
            {% show_shops shop_sel %}          
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto px-md-4">
        <div class="container">
          <h3>{{cur_shop.title}}</h3>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="goods">
            {%for key in products%}
            <div class="col">
              <div class="card shadow-sm">
                <img class="img-thumbnail" src="{{key.img.url}}">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">{{key.title}}</h5>
                      <div class="bd-highlight">{{key.price}}</div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary add-to-cart" data-id="{{cur_shop.pk}}:{{key.pk}}">Add to Cart</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            {%endfor%}
         </div>
      </main>
  
    </div>
  </div>
{% endblock %}